<div class="river_background">
	<article>
		<div class="title">
			<h1>Douglas L. Watts</h1>
		</div>

		<h2>About Me</h2>

		<p>
			I graduated from Western Carolina University on May 15 2021 with a Bachelor of Computer Science and
			a Minor in Mathematics. I graduated with a 3.97 GPA and was chosen to receive the Dean's Outstanding
			Scholar in Computer Science award for my graduating class.
		</p>

		<p>
			I learn quickly and hold a great amount of interest in developing software. I am aware that I
			have a lot to learn. I enjoy designing and building software and my career goal is to develop 
			mobile apps and games as well as games for other platforms.
			When I was assigned a project in college, I took pride in writing clean, maintainable, well
			documented, and efficient code. I treated every project as a professional assignment and have
			the graduating GPA to show it.
		</p>

		<h2>Current Employment</h2>

		<p>
			My wife and I are an artist team which paints oil and acrylic on canvas and wood board. We
			travel to fine art shows all over the country. I handle most of our business and
			technology needs.
			</p>
			
			<p>
			I am also building my portfolio on GitHub as a Software Developer. 
			I am currently learning Android mobile app development as well as game development in C++,
			and am learning to use Unreal Engine for the latter.
			This also involves brushing up on and furthering my understanding of Linear Algebra, 
			Multivariate Calculus, and Probability Theory.
		</p>
	</article>
</div>