<div class="river_background">
	<article>
		<div class="title">
			<h1>Douglas L. Watts</h1>
		</div>

		<h2>About Me</h2>

		<p>
			I graduated from Western Carolina University on May 15 2021 with a Bachelor of Computer Science and
			a Minor in Mathematics. I graduated with a 3.97 GPA and was chosen to receive the Dean's Outstanding
			Scholar in Computer Science award for my graduating class.
		</p>

		<p>
			I learn quickly and hold a great amount of interest in developing software. I am aware that I
			have a lot to learn and look forward to an opportunity to work on a team of experienced developers
			who I can learn from and grow into a strong asset for. The company who provides me with such an
			opportunity will have gained an employee of great value.
		</p>

		<p>
			I enjoy designing and building software and my career goal is to be a full-stack Software Developer.
			When I was assigned a project in college, I took pride in writing clean, maintainable, well
			documented, and efficient code. I treated every project as a professional assignment and have
			the graduating GPA to show it.
		</p>

		<h2>Current Employment</h2>

		<p>
			My wife and I are an artist team. We paint oil and acrylic on canvas and wood board. We
			travel to fine art shows all over the country. I handle most of our business and
			technology needs.

			<!-- I worked as a Systems Support Analyst for a while. However, my passion is developing software.
			Luckily, my team finds value in my ability to do so and allows me to take part in building and
			maintaining some of the in-house software that our team uses. I have vastly improved a concurrent
			Java utility which pulls the XML for trades from a database and writes it to files. I am also helping
			maintain and add features to a web application which sends out service interruption notices for our
			IT department. Unfortunately, our team is not allowed access to create Git repositories. So, I can
			only use Git locally on my own machine, which is still better than nothing. I have requested that
			Git be installed on one of the servers our team can access so that we can host our own repos. -->
		</p>

		<!-- <p>
			To continue the improvement of my Dev skills post-graduation, I am working through some Udemy
			courses taught by Colt Steele. I have just finished
			<a href="https://www.udemy.com/course/the-ultimate-mysql-bootcamp-go-from-sql-beginner-to-expert/" target="new" rel="noopener noreferrer">The Ultimate MySQL Bootcamp</a>
			and am finishing the last half of
			<a href="https://www.udemy.com/course/the-web-developer-bootcamp/" target="new" rel="noopener noreferrer">The Web Developer Bootcamp</a>.
			Once I finish the Web Developer Bootcamp, I will start the
			<a href="https://www.udemy.com/course/modern-react-bootcamp/" target="new" rel="noopener noreferrer">The Modern React Bootcamp(Hooks, Context, NextJS, Router)</a>.
			I am comfortable using Angular, which is the framework I use for this website. React is more
			in demand and has advantages, such as reloading only the portion of the DOM which has changed as opposed
			to reloading the entire DOM tree like Angular. I am also using online documentation and tutorials
			to learn to use Java Spring Framework, Java Spring Boot, and Python Django.
		</p> -->
	</article>
</div>