<header>
  <div class="container">
    <a class="home" id="home">Home</a>
    <nav>
      <ul>
        <li class="about" id="about">About</li>
        <li>
          <div class="drop_div">
            <button class="hover_button">🌎 Menu</button>
            <div class="hover_drop_list">
              <a id="cli">CLI</a>
              <a id="bash">Bash</a>
              <a id="rust">Rust</a>
              <a id="os">OS</a>
              <a id="archLinux">Arch Linux</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>